@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color:#131418;
    color: #fce885;
    font-family: 'Poppins', sans-serif;
    padding-top: 120px;
    overflow-x: hidden;
}
header {
    background-color: #010101;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
main {
    background-color: #131418;
    padding-bottom: 50px;
}
footer {
    background-color: #010101;
    height: 300px;
    width: 101%;
    position: relative;
    left: -8px;
    bottom: -7px;
}
.list-width {
    background-color: #010101;
}
.moti {
    color: #94949e;
}
.my-roadmap {
    font-size: 30px;
    text-align: center;
    position: relative;
    bottom: 15px;
}
#read {
    text-align: center;
    font-size: 20px;
    width: 1100px;
    margin: auto;
}
#note {
    color: #94949e;
}
#html-caption {
    width: 300px;
    text-align: center;
    color: #94949e;
    font-size: 15px;
    
}
#css-caption {
    width: 300px;
    text-align: center;
    color: #94949e;
    font-size: 15px;
    
}
#javascript-caption {
    width: 300px;
    text-align: center;
    color: #94949e;
    font-size: 15px;
    
}
#react-caption {
    width: 300px;
    text-align: center;
    color: #94949e;
    font-size: 15px;
    
}
#node-caption {
    width: 300px;
    text-align: center;
    color: #94949e;
    font-size: 15px;
    
}
#solidity-caption {
    width: 300px;
    text-align: center;
    color: #94949e;
    font-size: 15px;
    
}
#box-container1 {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 330px;
    margin: auto;
}
#boxy {
    width: 300px;
    height: 200px;
    background-color: #1e1e28;
    text-align: center;
    border-radius: 15px;
}
.box1, .box12 {
    width: 300px;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
}
.box2, .box22{
    width: 300px;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
}
.box3, .box32 {
    width: 300px;
    height: 200px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.text {
    position: relative;
    top: 40%;
    color: #f0f8ff;
    font-size: 30px;

}
.cascade {
    position: relative;
    top: 40%;
    color:  #52cafd;
    font-size: 30px;
}
.jav {
    position: relative;
    top: 35%;
    color:  #fc770a;
    font-size: 30px;
}
#line {
    height: 2px;
    width: 1200px;
    margin: auto;
    background-color: #b1d8fd;
}
#box-container2 {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 330px;
    margin: auto;
}
.last1 {
    position: relative;
    top: 40%;
    color: #fc35af;
    font-size: 30px;
}
.last2 {
    position: relative;
    top: 40%;
    color: #33fd76;
    font-size: 30px;
}
#boxy:hover {
    background-color: #000000;
    width: 300px;
    height: 200px;
}
a {
    text-decoration: none;
    color: #cee6fc;
}
ul {
    list-style: none;
}
#foot-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    position: relative;
    top: 80px;
}
.copy {
    font-size: 13px;
    font-weight: lighter;
    color: #94949e;
    text-align: center;
    position: relative;
    top: 110px;
}
.footy {
    font-size: 20px;
    color: #fc770a;
}
a:hover {
    color: #52cafd;
}
@media (max-width: 375px) and (min-width: 320px) {
    body {
        background-color:#131418;
        color: #fce885;
        font-family: 'Poppins', sans-serif;
        padding-top: 120px;
        overflow-x: hidden;
    }
    header {
        background-color: #010101;
        height: 70px;
        min-width: 320px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    main {
        background-color: #131418;
    }
    footer {
        background-color: #010101;
        height: 300px;
        width: 105%;
        position: relative;
        bottom: -6px;
        left: -9px;
    }
    .list-width {
        width: 130px;
        height: auto;
    }
    .moti {
        color: #94949e;
        font-size: 12px;
    }
    .my-roadmap {
        font-size: 30px;
        text-align: center;
        position: relative;
        bottom: 15px;
    }
    #read {
        text-align: center;
        font-size: 13px;
        height: 75px;
        width: 300px;
        overflow-y: scroll;
        background-color: #1e1e28;
        border: 2px solid #b1d8fd;
    }
    #note {
        width: 260px;
        margin: auto;
        font-size: 13px;
        color: #94949e;
    }
    #html-caption, #css-caption, #javascript-caption {
        width: 135px;
        text-align: center;
        color: #94949e;
        font-size: 13px;
        margin-top: 29px;
        
    }
    #react-caption, #node-caption, #solidity-caption {
        width: 135px;
        text-align: center;
        color: #94949e;
        font-size: 13px;
        margin-top: 29px;
    }
    #box-container1 {
        display: block;
        justify-content: space-between;
        width: 310px;
        height: 350px;
        margin: auto;
    }
    #boxy {
        width: 150px;
        height: 100px;
        background-color: #1e1e28;
        text-align: center;
        border-radius: 15px;
        z-index: 1;
    }
    .box1, .box2, .box3 {
        width: 295px;
        height: 100px;
        background-color:#131418;
        display: flex;
        justify-content: space-between;
        margin: auto;
        border-radius: 15px 0px 0px 15px;
    }
    .text {
        position: relative;
        top: 35%;
        color: #f0f8ff;
        font-size: 20px;
    }
    .cascade {
        position: relative;
        top: 35%;
        color:  #52cafd;
        font-size: 20px;
    }
    .jav {
        position: relative;
        top: 35%;
        color:  #fc770a;
        font-size: 20px;
    }
    #line {
        height: 2px;
        width: 300px;
        margin: auto;
        background-color: #b1d8fd;
    }
    #box-container2 {
        display: block;
        justify-content: space-between;
        width: 310px;
        height: 350px;
        margin: auto;
    }
    .box12, .box22, .box32 {
        width: 295px;
        height: 100px;
        background-color:#131418;
        display: flex;
        justify-content: space-between;
        margin: auto;
        border-radius: 15px 0px 0px 15px;
    }
    .last1 {
        position: relative;
        top: 35%;
        color: #fc35af;
        font-size: 20px;
    }
    .last2 {
        position: relative;
        top: 35%;
        color: #33fd76;
        font-size: 20px;
    }
    #boxy:hover {
        background-color: #070707;
        width: 150px;
        height: 100px;
        z-index: 998;
    }
    a {
        text-decoration: none;
        color: #cee6fc;
    }
    ul {
        list-style: none;
    }
    #foot-container {
        width: 280px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: auto;
        position: relative;
        top: 70px;
        left: -15px;
    }
    .copy {
        font-size: 11px;
        text-align: center;
        color: #94949e;
        position: relative;
        top: 110px;
    }
    .footy {
        font-size: 15px;
        color: #fc770a;
    }
    a:hover {
        color: #52cafd;
    }
}
@media (max-width: 480px) and (min-width: 376px) {
    body {
        background-color:#131418;
        color: #fce885;
        font-family: 'Poppins', sans-serif;
        padding-top: 120px;
        overflow-x: hidden;
    }
    header {
        background-color: #010101;
        height: 70px;
        min-width: 376px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    main {
        background-color: #131418;
    }
    footer {
        background-color: #010101;
        height: 300px;
        width: 105%;
        position: relative;
        bottom: -6px;
        left: -9px;
    }
    .list-width {
        width: 180px;
        height: auto;
    }
    .moti {
        color: #94949e;
        font-size: 12px;
    }
    .my-roadmap {
        font-size: 30px;
        text-align: center;
        position: relative;
        bottom: 15px;
    }
    #read {
        text-align: center;
        font-size: 13px;
        height: 75px;
        width: 350px;
        overflow-y: scroll;
        background-color: #1e1e28;
        border: 2px solid #b1d8fd;
    }
    #note {
        width: 310px;
        margin: auto;
        font-size: 13px;
        color: #94949e;
    }
    #html-caption, #css-caption, #javascript-caption {
        width: 185px;
        text-align: center;
        color: #94949e;
        font-size: 13px;
        margin-top: 29px;
        
    }
    #react-caption, #node-caption, #solidity-caption {
        width: 185px;
        text-align: center;
        color: #94949e;
        font-size: 13px;
        margin-top: 29px;
    }
    #box-container1 {
        display: block;
        justify-content: space-between;
        width: 360px;
        height: 350px;
        margin: auto;
    }
    #boxy {
        width: 200px;
        height: 100px;
        background-color: #1e1e28;
        text-align: center;
        border-radius: 15px;
        z-index: 1;
    }
    .box1, .box2, .box3 {
        width: 345px;
        height: 100px;
        background-color:#131418;
        display: flex;
        justify-content: space-between;
        margin: auto;
        border-radius: 15px 0px 0px 15px;
    }
    .text {
        position: relative;
        top: 35%;
        color: #f0f8ff;
        font-size: 20px;
    }
    .cascade {
        position: relative;
        top: 35%;
        color:  #52cafd;
        font-size: 20px;
    }
    .jav {
        position: relative;
        top: 35%;
        color:  #fc770a;
        font-size: 20px;
    }
    #line {
        height: 2px;
        width: 300px;
        margin: auto;
        background-color: #b1d8fd;
    }
    #box-container2 {
        display: block;
        justify-content: space-between;
        width: 360px;
        height: 350px;
        margin: auto;
    }
    .box12, .box22, .box32 {
        width: 345px;
        height: 100px;
        background-color:#131418;
        display: flex;
        justify-content: space-between;
        margin: auto;
        border-radius: 15px 0px 0px 15px;
    }
    .last1 {
        position: relative;
        top: 35%;
        color: #fc35af;
        font-size: 20px;
    }
    .last2 {
        position: relative;
        top: 35%;
        color: #33fd76;
        font-size: 20px;
    }
    #boxy:hover {
        background-color: #070707;
        width: 200px;
        height: 100px;
        z-index: 998;
    }
    a {
        text-decoration: none;
        color: #cee6fc;
    }
    ul {
        list-style: none;
    }
    #foot-container {
        width: 280px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: auto;
        position: relative;
        top: 70px;
        left: -15px;
    }
    .copy {
        font-size: 11px;
        text-align: center;
        color: #94949e;
        position: relative;
        top: 110px;
    }
    .footy {
        font-size: 15px;
        color: #fc770a;
    }
    a:hover {
        color: #52cafd;
    }
}
